@import "tailwindcss";

:root {
  --background: white;
  --foreground: var(--color-neutral-950);
}

body {
  color: var(--foreground);
  background: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --default-font-family: "Golos Text", serif;
  --default-ring-width: 1px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-300, currentColor);
  }

  h1 {
    @apply text-4xl font-medium max-md:text-2xl md:max-xl:text-3xl;
  }
  h2 {
    @apply text-3xl font-medium max-md:text-xl md:max-xl:text-2xl;
  }
  h3 {
    @apply text-2xl max-md:text-lg md:max-xl:text-xl;
  }
  h4 {
    @apply text-xl max-md:text-base md:max-xl:text-lg;
  }
  h5 {
    @apply text-lg max-md:text-base md:max-xl:text-base;
  }
  a {
    @apply text-base max-md:text-sm md:max-xl:text-sm;
  }
  small {
    @apply text-sm max-md:text-xs md:max-xl:text-xs;
  }

  input,
  textarea {
    color: var(--color-neutral-950);
    width: 100%;
  }

  select:invalid {
    color: var(--color-neutral-500);
  }

  select > option {
    color: var(--color-neutral-950);
  }

  select option[value=""],
  select option:not([value]) {
    color: var(--color-neutral-500);
  }

  button {
    cursor: pointer;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-neutral-500);
    font-size: 16px;
  }
}